/* color */

.green-bg {
    background-color: #0d733b;
}

.yellow-text {
    color: #f2ee1b;
}

.gray-color {
    color: #adb7bc;
}

.gray-color-2 {
    color: #5f6c72;
}

.gray-color-3 {
    color: #77878f;
}

.blue-color {
    color: #2da5f3;
}

.yellow-color {
    color: #f2ee1b;
}

.orange-color {
    color: #ffe7d6;
}

.orange-color {
    color: #fa8232;
}

.size-46px {
    font-size: 46px;
}

.size-18px {
    font-size: 18px;
}

.size-16px {
    font-size: 16px;
}

.container {
    width: 1320px;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0;
    margin-bottom: 0;
}
