/* color */

.green-bg {
    background-color: #0d733b;
}

.yellow-text {
    color: #f2ee1b;
}

.container {
    width: 1320px;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 0;
    margin-bottom: 0;
}
